<footer class="py-3 my-4 border-top">
    {% block content %}
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <p class="col-md-4 mb-0 text-muted flex-fill">&copy;{{ 'now'|date('Y') }} Vincent Sureau</p>

            <ul class="flex-fill nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="{{ path('app_front_legals') }}" class="nav-link px-2 text-muted">{{ 'Mentions légales'|trans() }}</a></li>
            </ul>
        </div>
    {% endblock %}
</footer>
