{% extends 'theme/layouts/vertical_one_column_layout.html.twig' %}

{% block before_stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Calcul your recipes' cost easily with <span>Frynance</span></h1>
            <h2>The first app to provide a free cost calculator and quotes generator to sell your awesome cookies online !</h2>
            <div class="text-center text-lg-start">
              <a href="{{ path('app_front_register') }}" class="btn-get-started scrollto">Register now !</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="{{ asset('assets/images/image-2.png') }}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="currentColor">
      </g>
    </svg>

  </section>

  <main class="container">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
                      <img class="img-fluid object-fit-scale" src="{{ asset('assets/images/cookie.png') }}" alt="">
                  </div>

                  <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
                      <h3>Maximisez votre rentabilité, un ingrédient à la fois !</h3>
                      <p>Transformez vos recettes en profits avec notre application de calcul de coût de recettes.</p>
                      <p>Découvrez notre application de calcul de coût de recettes, une plateforme innovante conçue pour aider les cuisiniers amateurs, les chefs professionnels et les propriétaires de restaurant à déterminer un prix de vente rentable pour leurs recettes. En se basant sur le coût réel des ingrédients tirés des prix des magasins en ligne, notre application web intuitive vous aide à établir un prix de vente compétitif tout en assurant une marge bénéficiaire.</p>
                      <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                          <div class="icon">
                              <i class="bi bi-card-heading"></i>
                          </div>
                          <h4 class="title">Gestion des Recettes</h4>
                          <p class="description">Créez, modifiez et sauvegardez vos recettes avec la liste des ingrédients et leurs quantités.</p>
                      </div>

                      <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                          <div class="icon">
                            <i class="bi bi-currency-euro"></i>
                          </div>
                          <h4 class="title">Optimisez vos Prix</h4>
                          <p class="description">Assurez-vous que le prix de vente de vos recettes est compétitif tout en maintenant une marge bénéficiaire saine.</p>
                      </div>

                      <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                          <div class="icon">
                            <i class="bi bi-hourglass-split"></i>
                          </div>
                          <h4 class="title">Gagnez du temps</h4>
                          <p class="description">Plus besoin de rechercher et calculer manuellement le coût de chaque ingrédient, notre application le fait pour vous.</p>
                      </div>

                      <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                          <div class="icon">
                            <i class="bi bi-calculator-fill"></i>
                          </div>
                          <h4 class="title">Calcul Automatique du Coût</h4>
                          <p class="description">Le coût total de la recette est automatiquement calculé, permettant de définir un prix de vente approprié.</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </main>
{% endblock %}

{% block js_after %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  /**
   * Animation on scroll
   */
  window.addEventListener('load', () => {
    AOS.init({
      duration: 1000,
      easing: 'ease-in-out',
      once: true,
      mirror: false
    })
  });
</script>
{% endblock %}